@tailwind base;
@tailwind components;
@tailwind utilities;

/* @charset "UTF-8"; */

@font-face {
	font-family: 'IAMAPLAYER';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow: hidden;
}

@layer base {
	html {
		/* font-family: 'IAMAPLAYER'; */
	}
}

@layer components {
	.sidebar {
		overflow-y: auto;
		height: calc(100vh - 48px);
	}

	.chat-content {
		width: calc(100vw - 240px);
	}

	.chat-content-sidebar {
		width: calc(100vw - 240px - 348px);
	}

	.chat-right-sidebar {
		width: 348px;
	}

	.chat-field {
		height: calc(100vh - 48px - 70px);
		max-height: calc(100vh - 48px - 70px);
	}

	.chat-right-sidebar-tap {
		height: calc(100vh - 48px - 39px);
		max-height: calc(100vh - 48px - 39px);
	}

	.chat-pad {
		width: calc(100vw - 255px - 60px);
		max-height: 160px;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none; /* for Chrome, Safari */
	}
}

/*
@font-face {
	font-family: 'Ramche';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CookieRun-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFStardust';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'IAMAPLAYER';
	font-weight: 500;
}
*/

/* HTML5 display-role reset for older browsers */
/*
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
	outline: 0;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
*/
